PROFILE=local

MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=database

NGINX_PORT_HTTP=8080
NGINX_PORT_HTTPS=4443

NGINX_SSL_CERTIFICATE=./keys/self-signed/cert.pem:/var/keys/cert.pem
NGINX_SSL_CERTIFICATE_KEY=./keys/self-signed/privkey.key:/var/keys/privkey.key
