[mysqld]

key_buffer_size = 1K
sort_buffer_size = 1K
read_buffer_size = 1K
read_rnd_buffer_size = 1K
myisam_sort_buffer_size = 1K
join_buffer_size = 1K


innodb_buffer_pool_size = 1K
#innodb_additional_mem_pool_size = 1K
innodb_log_file_size = 1K
innodb_log_buffer_size = 1K
innodb_flush_log_at_trx_commit = 1K
#innodb_lock_wait_timeout = 1K
innodb_file_format=barracuda

#table_cache=1
#record_buffer=1K
sort_buffer_size=1K
read_buffer_size=1K
read_rnd_buffer_size=1K
myisam_sort_buffer_size=1K
thread_cache_size=1
query_cache_limit=1K
query_cache_size=1K
query_cache_type=1

max_connections = 8